DATABASE_URL="DB_CONNECTION_STRING"
PORT=
BCRYPT_SALT_ROUNDS= ""
APP_URL= ""
JWT_SECRET_KEY=""
JWT_EXPIRES_IN=""
JWT_REFRESH_SECRET_KEY=""
JWT_REFRESH_EXPIRES_IN=""23"
JWT_REFRESH_SECRET="secret_refresh_123"
JWT_ACCESS_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="365d"
STRIPE_SECRET_KEY="sk_test_..."
